.cv-profile-pic {
    height: 240px;
    width: 190px;
    border-radius: 150px;
    margin-left: 25px;
    box-shadow: 0px 0px 4px black;
}

.top-of-cv {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #cc5500;
    color: white;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0px 0px 2px black;
}

.top-of-cv-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.top-of-cv-profile-detail {
    margin-left: 25px;
    display: flex;
    flex-direction: column;
}

.cv-name {
    font-size: 2rem;
}

.cv-job {
    font-size: 1.25rem;
    margin-left: 25px;
}

.top-of-cv-contact {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    margin-top: 25px;
    height: 100px;
    justify-content: space-around;
    font-weight: bold;
}

.bottom-of-cv {
    display: flex;
    flex-direction: row;
    background-color: #dddddd;
}

.bottom-of-cv-main {
    padding: 25px;
    width: 75%;
}

.cv-main-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cv-main-logo {
    margin-right: 25px;
    margin-left: 10px;
}

.bottom-of-cv-cutaway {
    color: black;
    width: 25%;
    padding: 15px;
}

.banyan-logo {
    width: 250px;
}

.ut-logo {
    width: 120px;
    height: 60px;
}

.uta-logo {
    height: 75px;
    width: 75px;
}

.tceq-logo {
    height: 100px;
    width: 100px;
}

.cv-bottom-entry {
    margin-bottom: 25px;
    width: 95%;
}

.cv li {
    list-style: none;
    margin-bottom: 10px;
}

.cv ul {
    list-style: none;
}

.cv li::before {
    position: relative;
    /* top: 3pt; Uncomment this to lower the icons as requested in comments*/
    content: "";
    display: inline-block;
    /* By using an em scale, the arrows will size with the font */
    width: 0.4em;
    height: 0.4em;
    border-top: 0.2em solid black;
    transform: rotate(45deg);
    margin-right: 0.5em;
}

.cv li:hover {
  color: #cc5500;
}
.cv li:hover::before {
  border-color: #cc5500; /* For the arrow (which is a border) */
}

.state-rep-map {
    box-shadow: 0px 0px 3px white;
    height: 750px;
    width: 750px;
    z-index: 4;
}

.map-img-wrapper {
    position: absolute;
    top: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cv-click-here {
    font-weight: bold;
    cursor: pointer;
}

.close-map-btn {
    z-index: 4;
    background-color: red;
    color: white;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 0px 3px white;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1.35rem;
    cursor: pointer;
}

.dd-link {
    text-decoration: none;
    color: black;
}

.dd-link:hover {
    color: #cc5500;
    font-weight: bold;
}

.resume-header {
    font-size: x-large;
}

.top-of-cv-profile-bio {
    width: 50%;
    margin-left: 5%;
    margin-top: 0px;
    padding-top: 0px;
    align-self: top;
}

.bio-box {
    display: none;
}

@media(max-width: 776px) {
    .bottom-of-cv-main {
        width: 85%;
    }

    .top-of-cv-profile {
        flex-direction: column;
    }

    .top-of-cv-profile-bio {
        display: none;
    }

    .bio-box {
        display: inherit;
    }
    
    .top-of-cv {
        flex-direction: column;
    }

    .bottom-of-cv {
        flex-direction: column;
    }

    .bottom-of-cv-cutaway {
        width: 85%;
        margin-left: 5%;
        border-radius: 5px;
    }
}