.dev-container {
    background-color: #dddddd;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.dev-container h1 {
    padding: 25px;
    padding-bottom: 0px;
    align-self: center;
}

.dev-tools-writeup {
    width: 75%;
    margin-left: 5%;
    align-self: center;
}

.dev-languages {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}

.dev-lang-container {
    width: 350px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    margin-top: 10px;
}

.dev-lang-name {
    font-size: 1.2rem;
    margin-left: 15px;
}

.dev-img {
    align-self: center;
    margin-top: 10px;
}

.dev-lang-writeup {
    padding: 15px;
}

@media(max-width: 1200px) {
    .dev-lang-container {
        width: 275px;
    }
}

@media(max-width: 1000px) {
    .dev-lang-container {
        width: 200px;
    }
}

@media(max-width: 776px) {
    .dev-lang-container {
        width: 350px;
    }

    .dev-languages {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
}