.background-image {
    z-index: 1;
    width: 100vw;
    height: 100vh;
    opacity: 0.95;
}

.mobile-background-image {
    display: none;
}

.home-text {
    position: absolute;
    left: 35%;
    top: 240px;
    font-style: italic;
    color: white;
    text-shadow: 1px 1px 2px #cc5500;
    font-size: 1.5rem;
}

.home-header {
    color: #cc5500;
    text-shadow: 2px 2px 4px white;
    font-size: 3.5rem;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.home-header:hover {
    color: white;
    text-shadow: 2px 2px 4px #cc5500;
}

.home-text ul {
    margin-top: 10px;
    padding-top: 0px;
}

.home-text li {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.home-text a {
    text-decoration: none;
}

.home-text li a {
    color: white;
    text-shadow: 1px 1px 2px #cc5500;
    font-size: 1.5rem;
}

.home-text li a:hover {
    color: #cc5500;
    text-shadow: 1px 1px 2px black;
}

@media(max-width: 540px) {
    .mobile-background-image {
        display: block;
        z-index: 1;
        width: 363.3px;
        height: 550px;
        opacity: 0.95;
        position: relative;
        left: 7.5%;
    }

    .home-wrapper {
        background-color: black;
        min-height: 100vh;
    }

    .background-image {
        display: none;
    }

    .home-text li {
        position: relative;
        left: -50px;
    }

    .home-text li a {
        text-shadow: 0px 0px 3px black;
        font-weight: bold;
    }

    .home-text {
        top: 325px;
        left: 25%;
        z-index: 2;
    }
}

@media(max-width: 428px) {
    .mobile-background-image {
        left: 3.5%;
    }
}

@media(max-width: 370px) {
    .mobile-background-image {
        left: 0;
    }

    .home-text {
        left: 15%;
    }
}