.static-map {
    width: 750px;
    height: 500px;
    margin-right: 25px;
    box-shadow: 0px 0px 3px black;
}

.static-map-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.static-map-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 10px;
}

.static-map-btn {
    background-color: black;
    padding: 15px;
    color: white;
    font-size: 1.5rem;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.static-map-btn:hover {
    color: #cc5500;
    background-color: #444444;
}

.writeup {
    margin-right: 30px;
    margin-top: 30px;
    margin-left: 0px;
    margin-top: 0px;
}

.interactive-map-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.writeup a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.writeup a:hover {
    color: #61ba9e;
}

.mapping-header {

}

.edwards-map {
    height: 400px;
    width: 700px;
    padding: 25px;
    border: 2px solid #1f4729;
    z-index: 2;
}

@media(max-width: 776px) {
    .map-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .writeup {
        margin-top: 25px;
    }

    .edwards-map {
        height: 285.71px;
        width: 500px;
    }

    .static-map {
        height: 375px;
        width: 562.5px;
    }
}

@media(max-width: 600px) {
    .edwards-map {
        height: 200px;
        width: 350px;
    }

    .static-map {
        height: 250px;
        width: 375px;
    }
}