.toolbar-container {
    width: 100%;
    box-shadow: 0px 0px 3px black;
    height: 60px;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 3;
    background-color: white;
}

.toolbar-link {
    text-decoration: none;
    color: black;
    margin-left: 25px;
    font-weight: bold;
}

.toolbar-link:hover {
    color: orange;
}