.wrapper {
  margin-top: 60px;
  font-family: Arial, Helvetica, sans-serif;
}

.white-box {
  background-color: white;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  padding: 25px;
}

.cv-short {
  display: none;
}

@media (max-width: 540px) {
  .cv-short {
    display: inline;
  }

  .cv-long {
    display: none;
  }
}